.container {
  width: 1170px; }

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  float: left; }

.col-lg-1 {
  width: 8.33333%; }

.col-lg-2 {
  width: 16.66667%; }

.col-lg-3 {
  width: 25%; }

.col-lg-4 {
  width: 33.33333%; }

.col-lg-5 {
  width: 41.66667%; }

.col-lg-6 {
  width: 50%; }

.col-lg-7 {
  width: 58.33333%; }

.col-lg-8 {
  width: 66.66667%; }

.col-lg-9 {
  width: 75%; }

.col-lg-10 {
  width: 83.33333%; }

.col-lg-11 {
  width: 91.66667%; }

.col-lg-12 {
  width: 100%; }

.col-lg-pull-0 {
  right: auto; }

.col-lg-pull-1 {
  right: 8.33333%; }

.col-lg-pull-2 {
  right: 16.66667%; }

.col-lg-pull-3 {
  right: 25%; }

.col-lg-pull-4 {
  right: 33.33333%; }

.col-lg-pull-5 {
  right: 41.66667%; }

.col-lg-pull-6 {
  right: 50%; }

.col-lg-pull-7 {
  right: 58.33333%; }

.col-lg-pull-8 {
  right: 66.66667%; }

.col-lg-pull-9 {
  right: 75%; }

.col-lg-pull-10 {
  right: 83.33333%; }

.col-lg-pull-11 {
  right: 91.66667%; }

.col-lg-pull-12 {
  right: 100%; }

.col-lg-push-0 {
  left: auto; }

.col-lg-push-1 {
  left: 8.33333%; }

.col-lg-push-2 {
  left: 16.66667%; }

.col-lg-push-3 {
  left: 25%; }

.col-lg-push-4 {
  left: 33.33333%; }

.col-lg-push-5 {
  left: 41.66667%; }

.col-lg-push-6 {
  left: 50%; }

.col-lg-push-7 {
  left: 58.33333%; }

.col-lg-push-8 {
  left: 66.66667%; }

.col-lg-push-9 {
  left: 75%; }

.col-lg-push-10 {
  left: 83.33333%; }

.col-lg-push-11 {
  left: 91.66667%; }

.col-lg-push-12 {
  left: 100%; }

.col-lg-offset-0 {
  margin-left: 0%; }

.col-lg-offset-1 {
  margin-left: 8.33333%; }

.col-lg-offset-2 {
  margin-left: 16.66667%; }

.col-lg-offset-3 {
  margin-left: 25%; }

.col-lg-offset-4 {
  margin-left: 33.33333%; }

.col-lg-offset-5 {
  margin-left: 41.66667%; }

.col-lg-offset-6 {
  margin-left: 50%; }

.col-lg-offset-7 {
  margin-left: 58.33333%; }

.col-lg-offset-8 {
  margin-left: 66.66667%; }

.col-lg-offset-9 {
  margin-left: 75%; }

.col-lg-offset-10 {
  margin-left: 83.33333%; }

.col-lg-offset-11 {
  margin-left: 91.66667%; }

.col-lg-offset-12 {
  margin-left: 100%; }

.visible-lg {
  display: block !important; }

table.visible-lg {
  display: table; }

tr.visible-lg {
  display: table-row !important; }

th.visible-lg,
td.visible-lg {
  display: table-cell !important; }

.visible-lg-block {
  display: block !important; }

.visible-lg-inline {
  display: inline !important; }

.visible-lg-inline-block {
  display: inline-block !important; }

.hidden-lg {
  display: none !important; }

@media only screen and (min-width: 2100px) {
  #home_nasa .nav_crossfade_image_box {
    left: 40.5% !important; }
  #home_nasa .replace_back {
    margin-left: -112% !important; }
  #home_nasa .teal_petal {
    left: 25%; }
  #home_nasa #first p.black {
    min-height: 700px; }
  #home_nasa .position_footer_content {
    margin-left: 26%; }

  #toolkit img.logo {
    transform: scale(1.3, 1.3);
    margin-top: 93px;
    margin-left: 102px; }
  #toolkit .orange-bak p {
    font-size: 200%; }
  #toolkit .orange-bak h1 {
    background-color: #12B8BC;
    margin: 3% 0 0 -318px;
    left: 47%;
    position: absolute;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    line-height: 260%;
    color: #fff;
    padding-left: 56px;
    z-index: 5;
    width: 750px;
    font-size: 2.2em;
    white-space: nowrap; }

  .position_footer_content {
    margin-left: 20%; } }
@media only screen and (max-width: 2099px) {
  #toolkit img.logo {
    transform: scale(1.2, 1.2);
    margin-top: 87px;
    margin-left: 80px; }
  #toolkit .orange-bak p {
    max-width: 80%;
    left: 10%;
    margin-top: -325px;
    font-size: 190%; }
  #toolkit .orange-bak h1 {
    background-color: #12B8BC;
    margin: 3% 0 0 -318px;
    left: 47%;
    position: absolute;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    line-height: 260%;
    color: #fff;
    padding-left: 56px;
    z-index: 5;
    width: 750px;
    font-size: 2.2em;
    white-space: nowrap; }
  #toolkit h1 {
    width: 750px;
    font-size: 2.2em; }

  #home_nasa #first p.black {
    min-height: 670px; }
  #home_nasa .size_back {
    max-height: 800px; }
  #home_nasa p.black {
    padding: 5% 10% 5% 10%; }
  #home_nasa .position_footer_content {
    margin-left: 23%; } }
@media only screen and (max-width: 1800px) {
  #toolkit img.logo {
    transform: scale(1, 1);
    margin-top: 69px;
    margin-left: 28px; }
  #toolkit .orange-bak p {
    max-width: 80%;
    left: 10%;
    margin-top: -300px;
    font-size: 155%; }
  #toolkit h1 {
    background-color: #12B8BC;
    margin: 3% 0 0 -318px;
    left: 47%;
    position: absolute;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    line-height: 260%;
    color: #fff;
    padding-left: 56px;
    z-index: 5;
    width: 750px;
    font-size: 2.2em;
    white-space: nowrap; }

  #home_nasa .nav_crossfade_image_box {
    left: 44.5%; }
  #home_nasa .size_back {
    max-height: 770px; }
  #home_nasa .replace_back {
    margin-left: -112% !important; }
  #home_nasa #first p.black {
    min-height: 635px; } }
@media only screen and (max-width: 1600px) {
  #toolkit img.logo {
    transform: scale(1, 1);
    margin-top: 69px;
    margin-left: 28px; }
  #toolkit .orange-bak h1 {
    width: 44%;
    background-color: #12B8BC;
    margin: 3% 0 0 -318px;
    left: 50%;
    position: absolute;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    line-height: 260%;
    color: #fff;
    padding-left: 56px;
    z-index: 5;
    width: 636px;
    font-size: 1.75em;
    white-space: nowrap; }
  #toolkit .orange-bak p {
    margin-top: -250px; }

  #home_nasa .nav_crossfade_image_box {
    left: 44%; }
  #home_nasa .size_back {
    min-height: 690px; }
  #home_nasa p.black {
    padding: 5% 10% 5% 10%; }
  #home_nasa .teal_petal {
    left: 25%;
    height: 700px;
    border-top-right-radius: 240px;
    border-bottom-left-radius: 240px;
    width: 340px; }
  #home_nasa .navstylecont {
    font-size: 1.8em;
    margin-left: 20px; }
  #home_nasa .navstylenum {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    border: 7px solid #019491;
    line-height: 60px;
    font-size: 3.4em; }
  #home_nasa .crossfade_nav {
    left: 3%; }
  #home_nasa #first p.black {
    min-height: 520px; }
  #home_nasa .position_footer_content {
    margin-left: 16% !important; } }
/* Extra Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
  #toolkit img.logo {
    transform: scale(1, 1);
    margin-top: 69px;
    margin-left: 28px; }

  #toolkit .orange-bak p {
    max-width: 80%;
    left: 10%;
    margin-top: -230px;
    font-size: 130%; }

  .dk_teal_bottom {
    transform: scale(0.9, 0.9); }

  #home_nasa .size_back {
    min-height: 704px; }
  #home_nasa .position_footer_content {
    margin-left: 16% !important; }
  #home_nasa .teal_petal {
    left: 21%;
    height: 666px;
    border-top-right-radius: 234px;
    border-bottom-left-radius: 234px;
    width: 330px; }
  #home_nasa .exit {
    margin-left: 121% !important; }
  #home_nasa .nav_crossfade_image_box {
    left: 42.0%; }
  #home_nasa .navstylecont {
    font-size: 24px;
    margin-left: 0px; }
  #home_nasa .navstylenum {
    width: 72px;
    height: 72px;
    margin-bottom: 10px;
    border: 6px solid #019491;
    line-height: 60px;
    font-size: 3em; }
  #home_nasa .crossfade_nav {
    left: 15px; }
  #home_nasa .replace_back {
    margin-left: -122% !important; }
  #home_nasa #first p.black {
    min-height: 554px;
    max-height: 475px; }
  #home_nasa p.black {
    min-width: 110%;
    padding: 5% 10% 5% 10%; }
  #home_nasa p.black + img {
    min-width: 110%; } }
/* Large Devices, Wide Screens */
.position_footer_content {
  margin-left: 22%; }

.clearfix.position_footer_content.container {
  width: auto; }

#navbar {
  font-size: 130%; }

/*# sourceMappingURL=large.css.map */
