/* Styles for Y4Y Nasa*/





/* Medium Devices, Desktops */




/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
{




  #home_nasa .orange-bak img
  {
    max-height: 200px;
    margin-top: 0px;
  }

  #home_nasa .size_back
  {
    min-height: 216px;
  }

  #home_nasa .teal_top
  {
    width: 100%;
    min-height: 120px !important;
    max-height: 150px !important;
    border-color: #00b0ad;
    overflow: scroll;
  }

  .navbar .nav.pull-right
  {
    float: none !important;
    margin-right: 0% !important;
 /*set margin this way in your custom styesheet*/
    ;
  }

  #home_nasa .place_mobile
  {
    margin-top: -170px !important;
  }

  #footerlinks ul:first-of-type
  {
    margin-left: -6px !important;
  }

  #home_nasa .navstylenum
  {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 4px solid #019491;
    color: #019491;
    float: left;
/*would prefer to make this display:inline-block*/
    border-radius: 50px;
    font-size: 1.2em;
    text-align: center;
    vertical-align: middle;
    position: relative;
 /*causes spacing on right side of image in content area*/
    left: 5px;
    line-height: 33px;
    margin-top: -6px;
  }

  #home_nasa .orange-bak
  {
    margin-top: 0px;
  }

  #home_nasa .logo_container
  {
    min-height: 100px;
    margin-top: 80px;
  }

  #home_nasa .earth-background
  {
    margin-top: -130px;
  }

  #home_nasa p.black
  {
    font-size: 1em;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px)
{


  #home_nasa .earth-background
  {
    margin-top: -40px;
  }

  #home_nasa .teal_top
  {
    width: 100%;
    min-height: 80px !important;
    max-height: 130px !important;
    border-color: #00b0ad;
    margin-top: -140px;
    overflow: scroll;
    margin-top: -148px !important;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px)
{
}


/*styles for the mobile version*/

#home_nasa .panel-heading
{
  background-color: #00b0ad !important;
}

#home_nasa #accordion h4
{
  background-color: #00b0ad !important;
  font-size: 1.8em !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  color: #fff;
  border: none !important;
  border-radius: 0px;
}

#home_nasa #accordion .panel-group,#accordion .panel
{
  margin-bottom: 0px;
}

#home_nasa .teal_top
{
  width: 100%;
  height: 100px;
  border-color: #00b0ad;
  padding: 4%;
  font-size: 110%;
  overflow: scroll;
}

#home_nasa .teal_top p
{
  color: #fff;
}

/*
{
	border-top-right-radius:800%;
}*/

#home_nasa .ui-accordion-header
{
  margin: 0px !important;
}

#home_nasa .place_mobile
{
  margin-top: -100px;
  z-index: 30;
  position: absolute;
}

#home_nasa .image_size_xs
{
  height: 120px !important;
  position: relative;
  overflow: hidden;
}

#home_nasa .image_size_xs img
{
  width: 100% !important;
}

#home_nasa .ui-accordion .ui-accordion-content
{
  padding: 0 !important;
}

#home_nasa #accordion p, #home_nasa #accordion ul
{
  padding: 4%;
  background-color: #000;
  color: #fff;
  font-size: 1em;
  margin-bottom: 0px;
}

#home_nasa .ui-widget-content
{
  background-color: #000;
}

#home_nasa .spacing_title
{
  padding-left: 60px;
}

#home_nasa .spacing_title:hover
{
  color: #fff600;
}

#home_nasa .navstylenum:hover + .spacing_title
{
  color: #fff600;
}

.mobile_top
{
  margin-left: 30px;
}

#accordion .panel, #accordion .panel-heading /*doesnt work with #home_nasa*/
{
  border: 0px;
}

#accordion .panel.panel-default
{
  border-top: 3px solid #1acfcc;
}





/*afor the fade in  of the vdefault text*/

#home_nasa ul#first,#home_nasa .teal_top.place_mobile p
{
  opacity: 0;
  -webkit-animation: fadein 3s;
 /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
 /* Firefox < 16 */
  -ms-animation: fadein 3s;
 /* Internet Explorer */
  -o-animation: fadein 3s;
 /* Opera < 12.1 */
  animation: fadein 3s;
}

@keyframes fadein
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 1;
  }
}

#home_nasa ul#first,#home_nasa .teal_top.place_mobile p
{
  -webkit-animation-fill-mode: forwards;
 /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode: forwards;
 /*FF 5+*/
  -o-animation-fill-mode: forwards;
 /*Not implemented yet*/
  -ms-animation-fill-mode: forwards;
 /*IE 10+*/
  animation-fill-mode: forwards;
 /*when the spec is finished*/
  ;
}

::-webkit-scrollbar
{
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/*fade out*/

/*afor the fade in  of the vdefault text*/

#home_nasa ul#first, #home_nasa .teal_top.place_mobile p
{
  opacity: 0;
  -webkit-animation: fadein 3s;
 /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s;
 /* Firefox < 16 */
  -ms-animation: fadein 3s;
 /* Internet Explorer */
  -o-animation: fadein 3s;
 /* Opera < 12.1 */
  animation: fadein 3s;
}

@keyframes fadein
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein
{
  from
  {
    opacity: 0;
  }

  to
  {
    opacity: 1;
  }
}

#home_nasa ul#first, #home_nasa .teal_top.place_mobile p
{
  -webkit-animation-fill-mode: forwards;
 /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode: forwards;
 /*FF 5+*/
  -o-animation-fill-mode: forwards;
 /*Not implemented yet*/
  -ms-animation-fill-mode: forwards;
 /*IE 10+*/
  animation-fill-mode: forwards;
 /*when the spec is finished*/
  ;
}

::-webkit-scrollbar
{
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb
{
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}




/* pulls the navbar right*/
.navbar .nav.pull-right
{
  float: right;
  margin-right: 0%;
 /*set margin this way in your custom styesheet*/
  ;
}

#navbar
{
  font-size: 130%;
}
/*changes navbar color*/

.dropdown-menu>li>a
{
  background-color: #000;
  color: #fff;
}

.dropdown-header
{
  color: #fff;
  background-color: #000;
}

.navbar-nav>li>.dropdown-menu
{
  background-color: #000;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover
{
  background-color: #000;
  color: #fff;
}

.dropdown-menu .divider
{
  background-color: #262626;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
  background-color: #000;
  color: #fff;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
  background-color: #000;
  color: #ff8600;
}
