$white: #fff;

@media only screen and (min-width: 2100px) {
    #home_nasa {
        .nav_crossfade_image_box {
            left: 40.5% !important;
        }

        .replace_back {
            margin-left: -112% !important;
        }

        .teal_petal {
            left: 25%;
        }

        #first {
            p.black {
                min-height: 700px;
            }
        }

        .position_footer_content {
            margin-left: 26%;
        }
    }

    #toolkit {
        img.logo {
            transform: scale(1.3, 1.3);
            margin-top: 93px;
            margin-left: 102px;
        }

        .orange-bak {
            p {
                font-size: 200%;
            }

            h1 {
                background-color: #12B8BC;
                margin: 3% 0 0 -318px;
                left: 47%;
                position: absolute;
                border-top-left-radius: 100px;
                border-bottom-right-radius: 100px;
                line-height: 260%;
                color: $white;
                padding-left: 56px;
                z-index: 5;
                width: 750px;
                font-size: 2.2em;
                white-space: nowrap;
            }
        }
    }

    .position_footer_content {
        margin-left: 20%;
    }
}

@media only screen and (max-width: 2099px) {
    #toolkit {
        img.logo {
            transform: scale(1.2, 1.2);
            margin-top: 87px;
            margin-left: 80px;
        }

        .orange-bak {
            p {
                max-width: 80%;
                left: 10%;
                margin-top: -325px;
                font-size: 190%;
            }

            h1 {
                background-color: #12B8BC;
                margin: 3% 0 0 -318px;
                left: 47%;
                position: absolute;
                border-top-left-radius: 100px;
                border-bottom-right-radius: 100px;
                line-height: 260%;
                color: $white;
                padding-left: 56px;
                z-index: 5;
                width: 750px;
                font-size: 2.2em;
                white-space: nowrap;
            }
        }

        h1 {
            width: 750px;
            font-size: 2.2em;
        }
    }

    #home_nasa {
        #first p.black {
            min-height: 670px;
        }

        .size_back {
            max-height: 800px;
        }

        p.black {
            padding: 5% 10% 5% 10%;
        }

        .position_footer_content {
            margin-left: 23%;
        }
    }
}

@media only screen and (max-width: 1800px) {
    #toolkit {
        img.logo {
            transform: scale(1, 1);
            margin-top: 69px;
            margin-left: 28px;
        }

        .orange-bak {
            p {
                max-width: 80%;
                left: 10%;
                margin-top: -300px;
                font-size: 155%;
            }
        }

        h1 {
            background-color: #12B8BC;
            margin: 3% 0 0 -318px;
            left: 47%;
            position: absolute;
            border-top-left-radius: 100px;
            border-bottom-right-radius: 100px;
            line-height: 260%;
            color: $white;
            padding-left: 56px;
            z-index: 5;
            width: 750px;
            font-size: 2.2em;
            white-space: nowrap;
        }
    }

    #home_nasa {
        .nav_crossfade_image_box {
            left: 44.5%;
        }

        .size_back {
            max-height: 770px;
        }

        .replace_back {
            margin-left: -112% !important;
        }

        #first p.black {
            min-height: 635px;
        }
    }
}

@media only screen and (max-width: 1600px) {
    #toolkit {
        img.logo {
            transform: scale(1, 1);
            margin-top: 69px;
            margin-left: 28px;
        }

        .orange-bak {
            h1 {
                width: 44%;
                background-color: #12B8BC;
                margin: 3% 0 0 -318px;
                left: 50%;
                position: absolute;
                border-top-left-radius: 100px;
                border-bottom-right-radius: 100px;
                line-height: 260%;
                color: $white;
                padding-left: 56px;
                z-index: 5;
                width: 636px;
                font-size: 1.75em;
                white-space: nowrap;
            }

            p {
                margin-top: -250px;
            }
        }
    }

    #home_nasa {
        .nav_crossfade_image_box {
            left: 44%;
        }

        .size_back {
            min-height: 690px;
        }

        p.black {
            padding: 5% 10% 5% 10%;
        }

        .teal_petal {
            left: 25%;
            height: 700px;
            border-top-right-radius: 240px;
            border-bottom-left-radius: 240px;
            width: 340px;
        }

        .navstylecont {
            font-size: 1.8em;
            margin-left: 20px;
        }

        .navstylenum {
            width: 80px;
            height: 80px;
            margin-bottom: 12px;
            border: 7px solid #019491;
            line-height: 60px;
            font-size: 3.4em;
        }

        .crossfade_nav {
            left: 3%;
        }

        #first p.black {
            min-height: 520px;
        }

        .position_footer_content {
            margin-left: 16% !important;
        }
    }
}

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
    #toolkit {
        img.logo {
            transform: scale(1, 1);
            margin-top: 69px;
            margin-left: 28px;
        }
    }

    #toolkit .orange-bak {
        p {
            max-width: 80%;
            left: 10%;
            margin-top: -230px;
            font-size: 130%;
        }
    }

    .dk_teal_bottom {
        transform: scale(0.9, 0.9);
    }

    #home_nasa {
        .size_back {
            min-height: 704px;
        }

        .position_footer_content {
            margin-left: 16% !important;
        }

        .teal_petal {
            left: 21%;
            height: 666px;
            border-top-right-radius: 234px;
            border-bottom-left-radius: 234px;
            width: 330px;
        }

        .exit {
            margin-left: 121% !important;
        }

        .nav_crossfade_image_box {
            left: 42.0%;
        }

        .navstylecont {
            font-size: 24px;
            margin-left: 0px;
        }

        .navstylenum {
            width: 72px;
            height: 72px;
            margin-bottom: 10px;
            border: 6px solid #019491;
            line-height: 60px;
            font-size: 3em;
        }

        .crossfade_nav {
            left: 15px;
        }

        .replace_back {
            margin-left: -122% !important;
        }

        #first p.black {
            min-height: 554px;
            max-height: 475px;
        }

        p.black {
            min-width: 110%;
            padding: 5% 10% 5% 10%;
        }

        p.black + img {
            min-width: 110%;
        }
    }
}

/* Large Devices, Wide Screens */
