@media only screen and (max-width: 991px) {
    #toolkit {
        img.logo {
            transform: scale(0.7, 0.7);
            margin-top: -40px;
            margin-left: -40px;
        }
    }

    img.reader_girl {
        margin-top: 0%;
    }

    .dk_teal_bottom, .dk_teal {
        transform: scale(1, 0.5);
        margin-top: -10px;
    }

    #toolkit .orange-bak {
        margin-top: 12%;

        p {
            max-width: 80%;
            left: 10%;
            margin-top: -200px;
            font-size: 1em;
        }

        h1 {
            transform: scale(0.8, 0.8);
        }

        .inside {
            margin-left: 24px;
        }
    }

    #home_nasa {
        .spacing_title {
            font-size: .9em;
        }

        .orange-bak img {
            max-height: 100px;
        }

        .size_back {
            min-height: 300px;
        }

        .mobile_top {
            margin-top: 12%;
        }

        .teal_top {
            height: 195px !important;
        }

        .place_mobile {
            margin-top: -234px !important;
        }

        .teal_petal {
            border-top-right-radius: 170px;
            border-bottom-left-radius: 170px;
            min-height: 400px;
        }

        .navstylecont {
            font-size: 15px;
            margin-left: 0px;
            margin-bottom: 5px;
        }

        .navstylenum {
            width: 50px;
            height: 50px;
            margin-top: -15px;
            margin-left: 0px;
            font-size: 30px;
            line-height: 38px;
            border: 5px solid #019491;
        }

        .crossfade_nav {
            top: 6%;
            left: 0%;
        }

        p.black {
            font-size: 100% !important;
            padding: 8%;
        }

        .position_footer_content {
            margin-left: 11% !important;
        }
    }
}
