@media only screen and (max-width: 767px) {
    .hidden-xs {
        display: none !important;
        visibility: hidden !important;
    }

    #home_nasa {
        .spacing_title {
            font-size: .8em;
        }
    }

    .dk_teal_bottom, .dk_teal {
        transform: scale(1, 0.5);
        margin-top: -10px;
    }

    #toolkit {
        .photo_background {
            img {
                margin-top: -40%;
            }
        }

        img.logo {
            margin-top: -40px;
            transform: scale(0.6, 0.6);
            margin-left: -40px;
        }

        .orange-bak {
            margin-top: 14%;

            h1 {
                margin: 5% 0 0 -200px;
                left: 50%;
                width: 425px;
                font-size: 1.2em;
                padding-left: 37px;
            }

            p {
                max-width: 80%;
                left: 10%;
                font-size: 1em;
                margin-top: -200px;
            }
        }
    }

    .navbar .nav.pull-right {
        float: none !important;
        margin-right: 0% !important;

        /*set margin this way in your custom styesheet*/
    }

    #home_nasa {
        .size_back {
            min-height: 216px;
        }

        .orange-bak img {
            max-height: 200px;
            margin-top: 0px;
        }

        .teal_top {
            width: 100%;
            min-height: 160px !important;
            max-height: 150px !important;
            border-color: #00b0ad;
            overflow-y: scroll;
        }

        .place_mobile {
            margin-top: -170px !important;
        }

        #footerlinks ul:first-of-type {
            margin-left: -6px !important;
        }

        .navstylenum {
            width: 40px;
            height: 40px;
            background-color: #fff;
            border: 4px solid #019491;
            color: #019491;
            float: left;

            /*would prefer to make this display:inline-block*/
            border-radius: 50px;
            font-size: 1.2em;
            text-align: center;
            vertical-align: middle;
            position: relative;

            /*causes spacing on right side of image in content area*/
            left: 90px;
            line-height: 33px;
            margin-top: -10px;
            font-size: .9em;
        }

        .orange-bak {
            margin-top: 0px;
        }

        .logo_container {
            min-height: 100px;
            margin-top: 40px;
        }

        .earth-background {
            margin-top: -130px;
        }

        p.black {
            font-size: 1em;
        }
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 600px) {
    .hidden-xs {
        display: none;
        visibility: hidden;
    }

    #toolkit {
        img.logo {
            margin-top: -50px;
            transform: scale(0.5, 0.5);
            margin-left: -100px;
        }

        .orange-bak {
            h1 {
                margin: 9% 0 0 -152px;
                left: 50%;
                width: 300px;
                font-size: .9em;
                padding-left: 16px;
            }

            p {
                max-width: 80%;
                left: 10%;
                font-size: 1em;
                margin-top: -200px;
            }
        }
    }

    #home_nasa .earth-background {
        margin-top: -40px;
    }

    #home_nasa .teal_top {
        width: 100%;
        min-height: 150px !important;
        max-height: 130px !important;
        border-color: #00b0ad;
        margin-top: -170px;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 480px) {
    .hidden-xs {
        display: none !important;
        visibility: hidden !important;
    }

    #toolkit {
        img.logo {
            margin-top: -60px;
            transform: scale(0.3, 0.3);
            margin-left: -145px;
        }

        .orange-bak {
            h1 {
                margin-top: 11%;
                padding-left: 16px;
            }

            p {
                max-width: 80%;
                left: 10%;
                font-size: 1em;
                margin-top: -200px;
                min-height: 104px;
                max-height: 128px;
                min-height: 145px;
                overflow-y: scroll;
            }
        }
    }
}

@media only screen and (max-width: 330px) {
    #toolkit {
        #y4y-nasa-body {}

        .orange-bak {
            p {
                max-height: 60px;
            }
        }
    }
}

@media screen and (min-width: 0\0) {
    .hidden-xs {
        display: none !important;
        visibility: hidden !important;
    }
}
