/* pulls the navbar right*/
.navbar .nav.pull-right {
    float: right;
    margin-right: 12%;

    /*set margin this way in your custom styesheet*/
}

#navbar {
    font-size: 130%;
}

/*changes navbar color*/

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #656565;
}

.dropdown-menu > li > a {
    background-color: #000;
    color: #fff;
}

.dropdown-header {
    color: #fff;
    background-color: #000;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #000;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #000;
    color: #fff;
}

.dropdown-menu .divider {
    background-color: #262626;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #000;
    color: #fff;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #000;
    color: #ff8600;
}

.navbar {
    background-color: #000;
    border-color: #000;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ff8600;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #000;
}

.navbar-fixed-top {
    position: relative;
}

.logo_height {
    height: 60px;
}

.button_login {
    width: 150%;
    height: 24px;
    background-color: #3C3A3A;
    border: solid #C7C6C6 1px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 4px;
}
