.navbar .nav.pull-right {
    float: none !important;
    margin-right: 0% !important;

    /*set margin this way in your custom styesheet*/
}

.button_login {
    width: 80px;
    margin-top: -6px;
}
